<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ouc.am.activity.api.mapper.ActivityMapper">
  	<resultMap id="BaseResultMap" type="com.ouc.am.activity.api.po.ActivityPo">
  		<id column="activityID" property="activityID"/>
  		<result column="activityName" property="activityName" />
  		<result column="activityStartTime" property="activityStartTime" />
  		<result column="activityEndTime" property="activityEndTime" />
  	</resultMap>
  	<select id="count" parameterType="com.ouc.am.activity.api.po.ActivityPo" resultType="int">
  		SELECT 
  			COUNT(activityID)
  		FROM
  			t_activity
  		<where>
  			<if test="activityName != null and activityName != ''">
  				activityName LIKE CONCAT('%','${activityName}','%')
  			</if>
  		</where>
  	</select>
  	<select id="activityQuery" resultMap="BaseResultMap" parameterType="java.util.Map">
  		SELECT 
  			activityID,activityName,activityStartTime,activityEndTime 
  		FROM t_activity
  		<where>
  			<if test="activityEntity.activityName != null and activityEntity.activityName != ''">
  				activityName LIKE CONCAT('%','${activityEntity.activityName}','%')
  			</if>
  		</where>
  		<if test="sortColumn != null and sort != null">
  		ORDER BY ${sortColumn} ${sort}
  		</if>
  		<if test="offset != null and rows != null">
  		LIMIT ${offset},${rows}
  		</if>
  	</select>
  	<insert id="insert" parameterType="com.ouc.am.activity.api.po.ActivityPo" useGeneratedKeys="true" keyProperty="activityID">
  		INSERT INTO t_activity
  		<trim prefix="(" suffix=")" suffixOverrides="," >
		    <if test="activityID != null" >
		       activityID,
		    </if>
		    <if test="activityName != null" >
		       activityName,
		    </if>
		    <if test="activityStartTime != null" >
		       activityStartTime,
		    </if>
		    <if test="activityEndTime != null" >
		       activityEndTime,
		    </if>
	    </trim>
	    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
	    	<if test="activityID != null" >
		       ${activityID},
		    </if>
		    <if test="activityName != null" >
		       #{activityName},
		    </if>
		    <if test="activityStartTime != null" >
		       #{activityStartTime},
		    </if>
		    <if test="activityEndTime != null" >
		       #{activityEndTime},
		    </if>
	    </trim>
  	</insert>
  </mapper>